.user-image {
  border-radius: 100%;
  height: 50px;
  width: 50px;
}

.user-name {
  margin: 0;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}