.user-image {
  height: 50px;
  width: 50px;
}
.rounded {
  border-radius: 100%;
}

.user-name {
  margin: 0;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  border: 1px solid red;
}