<form [formGroup]="userForm">
  <label>
    username:
    <input type="text" formControlName="username">
  </label>
	<div formGroupName="name">
	  <label>
	    firstname:
	    <input type="text" formControlName="firstname">
	  </label>
	  <label>
	    lastname:
	    <input type="text" formControlName="lastname">
	  </label>
  </div>
	<div formGroupName="address">
	  <label>
	    city:
	    <input type="text" formControlName="city">
	  </label>
	  <label>
	    street:
	    <input type="text" formControlName="street">
	  </label>
	  <label>
	    extra:
	    <input type="text" formControlName="extra">
	  </label>
	  <label>
	    country:
	    <input type="text" formControlName="country">
	  </label>
  </div>
</form>

<p>{{ userForm.get('username').invalid }}</p>

<button (click)="update()"> Actualizar Información </button>