fictizia-text-button {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.stories {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 8px 16px;
}

nav {
  display: flex;
  justify-content: space-around;
  background: lightgray;
  padding: 8px 16px;
}

nav a {
  color: black;
  text-decoration: none;
}