:host {
  display: flex;
  flex: 1;
  height: calc(100vh - 60px);
  flex-direction: column;
  overflow: scroll;
  padding: 12px;
}

.message {
  background: #00ff517a;
  padding: 12px 24px;
  color: #241c1c;
  border-radius: 12px;
  margin: 12px 0;
  width: fit-content;
  box-shadow: 0px 1px 3px #b8b8b8a1;
}
